<div class="container">
  <form (ngSubmit)="onFormSubmit()">
    <div class="row mt-2">
      <div class="col-9 mt-5">
        <div *ngFor="let test of tests; let i = index">
          <div class="form-holder card-header">
            <label for="{{ test.item_name }}" class="text-muted"
              >{{ test.item_content.label }}
            </label>

            <div
              class=""
              *ngFor="let item of test.item_content; let i = index"
              [ngSwitch]="item.input_type"
            >
              <!--Input tag-->

              <div class="form-group" *ngSwitchCase="'text'">
                <div class="form-label d-flex justify-content-between">
                  <div class="form-action">
                    <span
                      class="material-icons edit-icon"
                      (click)="editFields(i)"
                    >
                      edit
                    </span>
                    <span
                      class="material-icons delete-icon"
                      (click)="deleteElement(i)"
                    >
                      delete
                    </span>
                  </div>
                </div>
                <input
                  type="text"
                  ngModel
                  name="{{ test.item_name }}"
                  class="form-control input-control"
                  placeholder="{{ item.label }}"
                  width="{{ item.width }}"
                />
              </div>
            </div>
          </div>

          <!--Dropdown-->
          <div class="form-holder card-header" *ngSwitchCase="'options'">
            <div class="form-group">
              <div class="form-label d-flex justify-content-between">
                <label for="{{ test.item_name }}" class="text-muted"
                  >{{ test.item_content.label }}
                </label>
                <div class="form-action">
                  <span
                    class="material-icons edit-icon"
                    (click)="editFields(i)"
                  >
                    edit
                  </span>
                  <span
                    class="material-icons delete-icon"
                    (click)="deleteElement(i)"
                  >
                    delete
                  </span>
                </div>
              </div>
              <div class="form-group">
                <select
                  ngModel
                  name="{{ test.item_content.label }}"
                  id="{{ test.item_name }}"
                  class="form-control input-control"
                >
                  <option
                    value="{{ option }}"
                    *ngFor="let option of test.item_content.options"
                    >{{ option }}</option
                  >
                </select>
              </div>
            </div>
          </div>

          <!--Radio Button-->
          <div class="form-holder card-header" *ngSwitchCase="'radio'">
            <div class="form-group">
              <div class="form-label d-flex justify-content-between">
                <label for="{{ test.item_name }}" class="text-muted"
                  >{{ test.item_content.label }}
                </label>
                <div class="form-action">
                  <span
                    class="material-icons edit-icon"
                    (click)="editFields(i)"
                  >
                    edit
                  </span>
                  <span
                    class="material-icons delete-icon"
                    (click)="deleteElement(i)"
                  >
                    delete
                  </span>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end">
                <div class="text-muted">{{ test.item_content.label }}</div>
                <div>
                  <div
                    *ngFor="
                      let option of test.item_content.options;
                      let i = index
                    "
                    class="form-check form-check-inline"
                  >
                    <input
                      class="form-check-input input-control"
                      type="radio"
                      ngModel
                      name="{{ test.item_content.label }}"
                      id="{{ option }}"
                      value="{{ option }}"
                    />
                    <label
                      class="form-check-label text-muted"
                      for="inlineRadio1"
                      >{{ option }}</label
                    >
                  </div>
                </div>
                <div>Options</div>
              </div>
            </div>
          </div>

          <!--Check Box-->
          <div class="form-holder card-header" *ngSwitchCase="'checkbox'">
            <div class="form-group">
              <div class="form-label d-flex justify-content-between">
                <label for="{{ test.item_name }}" class="text-muted"
                  >{{ test.item_content.label }}
                </label>
                <div class="form-action">
                  <span
                    class="material-icons edit-icon"
                    (click)="editFields(i)"
                  >
                    edit
                  </span>
                  <span
                    class="material-icons delete-icon"
                    (click)="deleteElement(i)"
                  >
                    delete
                  </span>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-end">
                <div class="text-muted">{{ test.item_content.label }}</div>
                <div>
                  <div
                    *ngFor="
                      let option of test.item_content.options;
                      let i = index
                    "
                    class="form-check form-check-inline"
                  >
                    <label
                      class="form-check-label text-muted mr-1"
                      for="inlineRadio1"
                      >{{ option }}</label
                    >
                    <input
                      class="form-check-input input-control"
                      type="checkbox"
                      ngModel
                      name="{{ test.item_name }}{{ i }}"
                      id="{{ option }}"
                      value="{{ option }}"
                    />
                  </div>
                </div>
                <div>Options</div>
              </div>
            </div>
          </div>

          <!--Date Field-->
          <div class="form-holder card-header" *ngSwitchCase="'date'">
            <div class="form-group">
              <div class="form-label d-flex justify-content-between">
                <label for="{{ test.item_name }}" class="text-muted"
                  >{{ test.item_content.label }}
                </label>
                <div class="form-action">
                  <span
                    class="material-icons edit-icon"
                    (click)="editFields(i)"
                  >
                    edit
                  </span>
                  <span
                    class="material-icons delete-icon"
                    (click)="deleteElement(i)"
                  >
                    delete
                  </span>
                </div>
              </div>

              <input
                type="date"
                ngModel
                name="{{ test.item_name }}"
                id="{{ test.item_name }}"
                class="form-control input-control"
                placeholder="Hi there"
                width="{{ test.item_content.width }}"
              />
            </div>
          </div>

          <!--Time Field-->
          <div class="form-holder card-header" *ngSwitchCase="'time'">
            <div class="form-group">
              <div class="form-label d-flex justify-content-between">
                <label for="{{ test.item_name }}" class="text-muted"
                  >{{ test.item_content.label }}
                </label>
                <div class="form-action">
                  <span
                    class="material-icons edit-icon"
                    (click)="editFields(i)"
                  >
                    edit
                  </span>
                  <span
                    class="material-icons delete-icon"
                    (click)="deleteElement(i)"
                  >
                    delete
                  </span>
                </div>
              </div>
              <input
                type="time"
                ngModel
                name="{{ test.item_name }}"
                id="{{ test.item_name }}"
                class="form-control input-control"
                placeholder="{{ test.item_content.label }}"
                width="{{ test.item_content.width }}"
              />
            </div>
          </div>

          <!--Text Area-->
          <div class="form-holder card-header" *ngSwitchCase="'text-area'">
            <div class="form-group">
              <div class="form-label d-flex justify-content-between">
                <label for="{{ test.item_name }}" class="text-muted"
                  >{{ test.item_content.label }}
                </label>
                <div class="form-action">
                  <span
                    class="material-icons edit-icon"
                    (click)="editFields(i)"
                  >
                    edit
                  </span>
                  <span
                    class="material-icons delete-icon"
                    (click)="deleteElement(i)"
                  >
                    delete
                  </span>
                </div>
              </div>
              <input
                type="text"
                ngModel
                name="{{ test.item_name }}"
                id="{{ test.item_name }}"
                class="form-control input-control"
                placeholder="{{ test.item_content.label }}"
                width="{{ test.item_content.width }}"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-end">
          <button
            mat-raised-button
            type="button"
            class="mx-2"
            (click)="clearForm()"
          >
            Clear
          </button>
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
        <p class="text-muted my-2">Custom Form Builder</p>
        <div class="sidebar">
          <ul class="list-group">
            <!--Add Input field-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'input',
                  label: 'Text Field',
                  input_type: 'text',
                  name: 'text_field',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Text Field</span>
              <i class="material-icons">add</i>
            </li>

            <!--Add Dropdown-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'select',
                  label: 'Select Field',
                  input_type: 'options',
                  name: 'option',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Select Field</span
              ><i class="material-icons">add</i>
            </li>

            <!--Add Text-Area-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'input',
                  label: 'Text Area',
                  input_type: 'text-area',
                  name: 'text_area',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Text Area</span
              ><i class="material-icons">add</i>
            </li>

            <!--Add Radio Button-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'input',
                  label: 'Radio Group',
                  input_type: 'radio',
                  name: 'radio',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Radio Group</span
              ><i class="material-icons">add</i>
            </li>

            <!--Add Checkbox-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'input',
                  label: 'Checkbox Group',
                  input_type: 'checkbox',
                  name: 'checkbox',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Checkbox Group</span
              ><i class="material-icons">add</i>
            </li>

            <!--Date Field-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'input',
                  label: 'Date Field',
                  input_type: 'date',
                  name: 'date',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Date Field</span
              ><i class="material-icons">add</i>
            </li>

            <!--Time Field-->
            <li
              class="list-group-item d-flex justify-content-between"
              (click)="
                openDialog({
                  type: 'input',
                  label: 'Time Field',
                  input_type: 'time',
                  name: 'time',
                  width: '',
                  options: [],
                  row: 0
                })
              "
            >
              <span class="custom-list my-1">Time Field</span
              ><i class="material-icons">add</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
